{% extends "AppProyecto/Principal.html" %}
{% load static %}
{% block titulo %}

<style>

    .center {margin: auto;}

</style>

<h1>Acerca de Bike Shop</h1>

{% endblock %}

{% block contenido_que_cambia %}

<div class="shadow p-4 mb-5 bg-body rounded center" style="width:50%">

<h2>Creador: Lucas Bruzzesi</h2>
<br>
<h4>
    Proyecto web orientado a e-commerce, creado usando python y el framework django, frontend basado en bootstrap.
    <br>
    <br>
    Este mismo tiene como fines almacenar listados de clientes, productos y ventas. A futuro tambien se podria complementar con un control de stock y trackeo de ventas.
</h4>

</div>

{% endblock %}