{% extends "AppProyecto/Principal.html" %}
{% load static %}
{% block titulo %}

<style>

    .center {margin: auto;}

</style>

<h1>Bike Shop</h1>

{% endblock %}

{% block contenido_que_cambia %}

<div class="shadow p-4 mb-5 bg-body rounded center" style="width:50%">

    <h1> Registrar Venta</h1>

<br>

<form action="" method="post"> 

    {% csrf_token %}
    {{ form.as_p }}

<button type="submit" onclick="alert('Venta Agregada')" class="btn btn-success">
    <i class="bi bi-plus-circle me-2"></i> Confirmar      
</form>
</div>
<br>

{% endblock %}