{% extends "AppProyecto/Principal.html" %}

{% load static %}

{% block titulo %}

<style>

    .center {margin: auto;}

    .avatar-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #888888;}

</style>

<h1 class="mb-5">Editando usuario: {{ user }} </h1>

{% endblock %}

{% block contenido_que_cambia %}

<div class="shadow p-4 mb-5 bg-body rounded center" style="width:50%">

<h1> Editando Usuario</h1>
<br>
<img src="{{ avatar }}" class="avatar-image" style="display:inline; margin-left:-20px" width="120" height="120" alt="avatar"/>
<br>
<br>
<form action="{% url 'editarPerfil' user.id %}" method="POST"> {% csrf_token %}

<table>

    {{ form.as_p }}

</table>

<button type="submit" onclick="alert('El usuario ha sido modificado')" class="btn btn-info">
    <i class="bi bi-check-circle me-2"></i> Guardar Cambios

</form>
</div>


{% endblock %}