{% extends "AppProyecto/Principal.html" %}

{% load static %}

{% block titulo %}

<style>

    .center {margin: auto;}

</style>

<h1 class="mb-5">Editando usuario: {{ nombreusuario }} </h1>

{% endblock %}

{% block contenido_que_cambia %}

<div class="shadow p-4 mb-5 bg-body rounded center" style="width:50%">

<h1> Editando Usuario</h1>
<br>

<form action="{% url 'editarPerfil' %}" method="POST"> {% csrf_token %}

<table>

    {{ form.as_p }}

</table>

<button type="submit" class="btn btn-info">
    <i class="bi bi-check-circle me-2"></i> Guardar Cambios

</form>
</div>


{% endblock %}