{% extends "AppProyecto/Principal.html" %}
{% load static %}
{% block titulo %}

<style>

  .center {margin: auto;}

  .card-body {display: flex;
      flex-direction: column;
      justify-content: center;}

</style>

    <h1>Bienvenidos a</h1>
    <h1>Bike Shop</h1>

{% endblock %}

{% block contenido_que_cambia %}

<div class="shadow p-4 mb-5 bg-body rounded center" style="width:50%">
<h1> Inicio</h1>
</div>
<br>
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src='{% static "AppProyecto/assets/img/Marin-San-Quentin-1-01-630e61c.jpg" %}' class="d-block w-100 rounded mr-5" alt="Marin 1">
    </div>
    <div class="carousel-item">
      <img src='{% static "AppProyecto/assets/img/image-marin_bikes_mount_vision.jpg" %}' class="d-block w-100 rounded mr-5" alt="Marin 2">
    </div>
    <div class="carousel-item">
      <img src='{% static "AppProyecto/assets/img/s1600_marintitile_414017.jpg" %}' class="d-block w-100 rounded mr-5" alt="Marin 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
{% if user.is_authenticated %}
<br>
<div class="row">
  <div class="col-md-4 center">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Formularios</h5>
              <p class="card-text">Acceda a los distintos formularios con los que contamos en la pagina.</p>
              <a href="{% url 'Pages' %}" class="btn btn-primary">Ingresar</a>
          </div>
      </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8 center">
    <div class="card-body">
      {% for reseña in reseñas %}
        <div class="card mb-4 center" style='width: 60%;'>
          <div class="card-body">
            <h5 class="card-title" style='margin-left: 115px;'>{{ reseña.titulo }}</h5>
            <div class="d-flex align-items-center">
              <img src='{% static "AppProyecto/assets/img/reseñas.png" %}' width="120" height="120" alt='{{ reseña.titulo }}' class="img-fluid rounded mr-3">
              <p class="card-text" style="margin-left: 10px; color: #787878; font-family: 'Pathway Gothic One'; font-size: 20px;">''{{ reseña.comentario }}''</p>
            </div>
            <br>
            <p class="card-text" style='margin-left: 115px;'>Autor: {{ reseña.autor }}</p>
            <p class="card-text" style='margin-left: 115px;'>Fecha: {{ reseña.fecha }}</p>
            {% if user.is_authenticated %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-sm btn-danger bi bi-trash-fill" href="{% url 'eliminar_reseña'  reseña.id  %}"></a>
            </div>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <p class="text-center">Actualmente no hay reseñas.</p>
      {% endfor %}
      <div class="text-center">
        {% if user.is_authenticated %}
        <a class="btn btn-sm btn-success" href="{% url 'Reseñas' %}">Dejar una Reseña</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}



{% endblock %}