{% extends "AppProyecto/Principal.html" %}
{% load static %}
{% block titulo %}

<style>

    .center {margin: auto;}

    .card-body {display: flex;
        flex-direction: column;
        justify-content: center;}

</style>

<h1>Administracion de datos de la web</h1>

{% endblock %}

{% block contenido_que_cambia %}

<div class="container">
  <h1>Registros disponibles</h1>
  <br>
  <br>
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Formulario de clientes</h5>
                  <p class="card-text">Agrega, edita o elimina clientes.</p>
                  <a href="{% url 'Cliente' %}" class="btn btn-primary">Ir al formulario</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Formulario de ventas</h5>
                  <p class="card-text">Registra nuevas ventas o edita ventas existentes.</p>
                  <a href="{% url 'Ventas' %}" class="btn btn-primary">Ir al formulario</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Formulario de productos</h5>
                  <p class="card-text">Agrega, edita o elimina productos.</p>
                  <a href="{% url 'Productos' %}" class="btn btn-primary">Ir al formulario</a>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}