{% extends "AppProyecto/inicio.html" %}
{% load static %}
{% block titulo %}

<style>

    .center {margin: auto;}

</style>

<h1>Resultado de la busqueda de cliente</h1>

{% endblock %}

{% block contenido_que_cambia %}

<!-- DIV Cliente Encontrado -->

{% if clientes %}

<div class="shadow p-4 mb-5 bg-body rounded center" style="width:50%">

<h2>Clientes encontrados</h2>

<br>
    <tbody>
{% for cliente in clientes %}
    </tbody>

<h3>{{ cliente.nombre }} {{ cliente.apellido}}</h3>
{% endfor %}
</div>

<!-- DIV Cliente Vacio -->

{% elif mensaje %}

<div class="shadow p-4 mb-5 bg-body rounded center" style="width:50%">

<h2>{{ mensaje }}</h2>

<!-- DIV Cliente no Encontrado -->

{% else %} 

<div class="shadow p-4 mb-5 bg-body rounded center" style="width:50%">

<h2>No se encontro el cliente</h2>

</div>

{% endif %}



{% endblock %}